<div class="row gx-0" *ngIf="mostrar">
    <div class="col-xl-5 col-lg-5 col-md-5 col-xs-12">
        <div class="card sinpadding">
            <img class="card-img-top" src="{{coche.imagen}}" alt="Imagen de coche">
            <div class="card-body">
                <h5 class="card-title">{{coche.marca}} {{coche.modelo}} {{coche.year}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Motor: {{coche.motor}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Precio: {{coche.precioFijo}} €/día </h6>

            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-7">
        <form autocomplete="off" #formulario="ngForm">
            <div class="p-4">
                <h3 class="text-dark">Alquiler</h3>
                <div class="form-group">
                    <label for="numDias">Fecha de inicio:</label>
                    <input type="datetime-local" id="fecha" name="fecha" [(ngModel)]="alquiler.fecha" class="form-control" value={{fechaActual}} min="{{fechaActual}}" required>
                    <span class="input-group "></span>
                    <span class="form-text text-danger" *ngIf="formulario.controls['fecha']?.errors && formulario.controls['fecha']?.touched">
                  Debe indicar un fecha
                </span>
                </div>
                <div class="form-group">
                    <label for="numDias">Número de días</label>
                    <input type="number" id="numDias" name="numDias" [(ngModel)]="alquiler.numDias" class="form-control" required pattern="^([1-9]\d*(\.\d*[1-9][0-9])?)|(0\.\d*[1-9][0-9])|(0\.\d*[1-9])$">
                    <span class="input-group "></span>
                    <span class="form-text text-danger" *ngIf="formulario.controls['numDias']?.errors && formulario.controls['numDias']?.touched">
                    Debe indicar un número mayor que 0
                  </span>
                </div>
                <div class="form-group">
                    <label for="numDias">Número de tarjeta</label>
                    <input type="text" id="tarjeta" name="tarjeta" [(ngModel)]="alquiler.tarjeta" class="form-control" required pattern="^4[0-9]{12}(?:[0-9]{3})?$">
                    <span class="input-group "></span>
                    <span class="form-text text-danger" *ngIf="formulario.controls['tarjeta']?.errors && formulario.controls['tarjeta']?.touched">
                    Debe indicar un número de tarjeta valido
                </span>
                </div><br>
                <h5 class="text-dark">Accesorios</h5>
                <div class="form-group" *ngFor="let accesorio of accesorios">
                    <div class="row gx-0">
                        <div class="col"> {{accesorio.nombre}} ({{accesorio.precio}}€)</div>
                        <div class="col-8"><input type="checkbox" name="accesorio" [(ngModel)]="accesorio.checked" class="form-check"></div>
                    </div>
                </div><br>
                <div class="row gx-0 ">
                    <div class="col-4">
                        <button (click)="crearAlquiler()" [disabled]="formulario.invalid" class="btn btn-dark text-center mt-2">
                      Alquilar
                      </button>
                    </div>
                    <div class="col-xs-6 col-xl-5 col-lg-5 col-md-5">
                        <button (click)="calcularPrecio()" [disabled]="formulario.invalid" class="btn btn-dark text-center mt-2">
                      Calcular Precio
                      </button>
                    </div>
                    <div *ngIf="mostrarPrecio" class="col-xs-8 col-xl-8 col-lg-8 col-md-8">
                        <br>
                        <h5> Precio total: {{precio}} €</h5>
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>
<app-pie></app-pie>
