
      <div class="row">
        <div class="col-7">
          <div class="card sinpadding">
            <img class="card-img-top" src="{{coche.imagen}}" alt="Imagen de coche">
            <div class="card-body">
              <h5 class="card-title">{{coche.marca}} {{coche.modelo}} {{coche.year}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Motor: {{coche.motor}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Precio: {{coche.precioFijo}} €/día </h6>

            </div>
          </div>
        </div>
        <div class="col-5" >
          <form (ngSubmit)="crearAlquiler()" autocomplete="off" [formGroup]="formulario">
            <h3 class="text-primary">Alquiler</h3><br>
            <div class="form-group">
                <label>Número de días</label>
                <input class="form-control" type="number" class="form-control" formControlName="numDias">
                <span class="form-text text-danger" *ngIf="campoEsValido('numDias')">
                  Debe indicar un número mayor que 0
                </span>
            </div>
            <div class="form-group">
                <label>Tarjeta de Crédito</label>
                <input class="form-control" type="text" class="form-control" formControlName="tarjeta">
                <span class="form-text text-danger" *ngIf="campoEsValido('tarjeta')">
                  Debe indicar una tarjeta de crédito válida
                </span>
            </div><br>
            <h3 class="text-primary">Accesorios</h3><br>
            <div class="form-group" *ngFor="let accesorio of accesorios">
                <input  type="checkbox" class="form-control" formControlName="accesorios">
                {{accesorio.nombre}}
            </div>
            <br>
              <button type="submit" class="btn btn-primary center" [disabled]="formulario.invalid">
                Registrar
              </button>
        </form>
        </div>
      </div>
