<div style="visibility: hidden">.</div>
<div style="visibility: hidden">.</div>
<div style="visibility: hidden">.</div>
<div class="row justify-content-center gx-0">
    <div id="myCarousel" class="col-xl-6 col-lg-6 col-md-6 col-xs-12 carousel slide" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="img-container">
                    <img src="./assets/img3.jpg">
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-container">
                    <img src="./assets/img2.jpg">
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-container">
                    <img src="./assets/img1.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<app-pie></app-pie>