<div class="container-fluid vh-100">
    <div class="" style="margin-top:50px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-dark">Añadir Coche</h3>
                </div>
                <form [formGroup]="myForm" (ngSubmit)="submit()" enctype="multipart/form-data">
                    <br>
                    <div class="form-group">
                        <input class="form-control" type="text" class="form-control" placeholder="Marca" formControlName="marca">
                        <span class="form-text text-danger" *ngIf="campoEsValido('marca')">
                    Debe indicar una marca
                  </span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" placeholder="Modelo" type="text" class="form-control" formControlName="modelo">
                        <span class="form-text text-danger" *ngIf="campoEsValido('modelo')">
                      Debe indicar un modelo
                    </span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" placeholder="Motor" type="text" class="form-control" formControlName="motor">
                        <span class="form-text text-danger" *ngIf="campoEsValido('motor')">
                        Debe indicar un motor
                      </span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" placeholder="Año" type="text" class="form-control" formControlName="year">
                        <span class="form-text text-danger" *ngIf="campoEsValido('year')">
                        Debe indicar un año
                      </span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" placeholder="Precio €/dia" type="number" class="form-control" formControlName="precioFijo">
                        <span class="form-text text-danger" *ngIf="campoEsValido('precioFijo')">
                          Debe indicar un número mayor que 0
                      </span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input formControlName="file" id="file" name="file" type="file" class="form-control" (change)="onFileChange($event)" />
                        <span class="form-text text-danger" *ngIf="campoEsValido('file')">
                          </span>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-pie></app-pie>