
<div class="table-responsive" style="margin-top:50px">
    <table class="table" style="width: 100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coche of coches">
                <td>{{coche.id}}</td>
                <td>{{coche.marca}}</td>
                <td>{{coche.modelo}}</td>
                <td>{{coche.year}}</td>
                <td><button class="btn btn-dark" [routerLink]="['/alquiler',coche.id]">Alquilar</button></td>
            </tr>
        </tbody>
    </table>

</div>
<app-pie></app-pie>
