<div class="row right">
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <app-buscador (onEnter)="buscar($event)"></app-buscador>
    </div>
</div>
<div class="container">
    <div class="row-6">
        <nav class="navbar offset-md-1 navbar-expand-lg fixed-top navbar-light bg-light col-xl-7 col-lg-7 col-md-7">
            <button class="navbar-toggler" data-bs-target="#menu" data-bs-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
            <a class="navbar-brand">
                <img src="../../../assets/frente-del-coche-sedan.png" alt="" height="60px">
            </a>

            <div class="collapse navbar-collapse row" id="menu">
                <ul class="navbar-nav ">
                    <div class="dropdown">
                        <button class="btn btn-toggle align-items-center rounded dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Acceso
                    </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li>
                            <li><a class="nav-link" routerLinkActive="active" routerLink="/registro">Registro</a></li>
                            <li><a class="nav-link" routerLinkActive="active" (click)="logout()">Logout</a></li>
                        </ul>

                    </div>
                    <li class="nav-item active">
                        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLinkActive="active" routerLink="/coches">Lista Coches</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLinkActive="active" routerLink="/listaAlquiler">Mis Alquileres</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLinkActive="active" routerLink="/fichero">Subir imágenes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLinkActive="active" routerLink="/ubicacion">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>