<div class="container">
    <div class="row-6">
        <nav class="navbar offset-md-1 navbar-expand-lg fixed-top navbar-light bg-light">
            <button class="navbar-toggler" data-bs-target="#menu" data-bs-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
            <a class="navbar-brand">
                <button class="btn btn-secondary" (click)="redirige()">
                  <span style="font-size: 1.3em;"><strong>{{nombre}}</strong></span>

                </button>&nbsp;&nbsp;&nbsp;
                <img src="./frente-del-coche-sedan.png" alt="icono coche sedan" height="60px">
            </a>
            <div class="collapse navbar-collapse row" id="menu">
                <ul class="navbar-nav ">
                    <div class="dropdown">
                        <button class="btn btn-toggle align-items-center rounded dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Acceso
                    </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li>
                            <li><a class="nav-link" routerLinkActive="active" routerLink="/registro">Registro</a></li>
                            <li><a class="nav-link" routerLinkActive="active" (click)="logout()">Logout</a></li>
                        </ul>

                    </div>
                    <li class="nav-item active">
                        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLinkActive="active" routerLink="/coches">Lista Coches</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLinkActive="active" routerLink="/listaAlquiler">Mis Alquileres</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLinkActive="active" routerLink="/ubicacion">Contacto</a>
                    </li>
                    <li class="nav-item active" *ngIf="mostrar">
                        <a class="nav-link" routerLinkActive="active" routerLink="/fichero">Añadir coche</a>
                    </li>
                </ul>
            </div>
            <div>
                <app-buscador (onEnter)="buscar($event)"></app-buscador>
            </div>
        </nav>
    </div>
